/*!
 * Custom CSS
 */

.divTable{
  margin-top: 50px;
}

th{
 text-align: right;
 border-bottom-style: ridge;
 padding-left: 20px;
 padding-right: 20px;
 font-variant-caps: all-small-caps;
 font-size:16px ;
}

td{
  text-align: right;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

tr:hover{background-color:#BEDCED}

.tableStyle{
  min-width: fit-content;
  max-width: 70%;
  font-size: 14px;
}

.canvasStyle{
  vertical-align: baseline;
  max-height: 75%;
  max-width: 75%;
}
